body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.cartao{
    background-color: hsl(0, 0%, 100%);
    width: 440px;
    border-radius: 20px;
}
img{
    border-radius: 40px;
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

  
}
h1{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;


}

p{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
 color: grey;
   
}
